<div class='row align-items-center'>
  <div class='col-12 w-100 row justify-content-center'>
    <div style='-webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;'>
      <%= image_tag ('/assets/ariana.jpeg'), size: '1500x1000' %>
    </div>
  </div>
  <div class='col-5 mx-4 px-5' style='text-indent: 50px;'>
    <br>
    <h3>Ariana Hernandez</h3> 
    <h4><i>Walked A Mile, 2020</i></h4>
    <h4>Acrylic on canvas</h4>
  </div>
  
</div>